
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <%- include('partials/head')%>  <!-- This inlcudes the code placed on .../views/partial -->
    </head>

    <body>
        <%- include('partials/navigation')%>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"> <!-- This styles come from Bootstrap. the include in the Head -->
            <section>
                <h1 class="display-1"> About </h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, voluptates non sed veritatis tenetur maxime? Adipisci expedita repudiandae, tenetur consequatur fugiat magni ipsum ex hic sequi exercitationem eligendi ut consectetur maiores nemo eveniet quidem nostrum atque deleniti tempore? Perspiciatis sint ad, minus qui asperiores facere nulla officiis voluptatibus rerum delectus voluptas natus suscipit quam impedit. Quae, quo. Voluptate, dignissimos possimus voluptatem molestiae ad exercitationem fugit, ex vero dolorem numquam dicta corporis illo facilis eveniet voluptatibus! Quasi delectus porro, omnis et doloremque quos esse magnam enim, inventore, velit reiciendis dolorum a aperiam rerum nam! Quo optio fugiat nam sunt sint cumque vero, maiores expedita dolor. Non eaque iure blanditiis molestias nobis perferendis ipsam dicta quisquam quidem? Eius repellat libero enim tempore, provident ut, repellendus neque rem autem qui explicabo est nobis sunt ratione culpa fugit esse officiis quod vitae. Pariatur ipsam nisi excepturi autem placeat corrupti dolorum nesciunt. Nihil dolorem culpa hic debitis consectetur? Tempora, voluptates. Vel distinctio inventore quam facere aliquam itaque dicta id, dolore harum necessitatibus officia nesciunt omnis, nihil sint ea animi ut ab. Ab architecto aliquid officiis iure reprehenderit at laboriosam magnam ipsa blanditiis distinctio voluptas voluptatem ea quasi dolore aut neque, alias corporis repellat tempora accusamus.</p>
            </section>
        </main>

        <%- include('partials/footer')%>
    </body>

</html>
